version: '3.7'

volumes:
  pmm-data: 

networks:
  replication_net:
    name: slave_master_master_master_replication_net
    external: true

services:

  # --- 1. PMM Server ---
  pmm-server:
    image: percona/pmm-server:3
    container_name: pmm-server
    restart: always
    networks:
      - replication_net
    ports:
      - "8443:8443"
    volumes:
      - pmm-data:/srv

  # --- 2. PMM Client para mariadb_master1 (Contraseña: 123) ---
  pmm-client-master1:
    image: percona/pmm-client:3
    container_name: pmm-client-master1
    restart: always
    networks:
      - replication_net
    environment:
      PMM_AGENT_SERVER_ADDRESS: pmm-server
      PMM_AGENT_SERVER_USERNAME: root
      PMM_AGENT_SERVER_PASSWORD: example 
    
    # NUEVA ESTRUCTURA: Ejecuta pmm-admin después de 15 segundos y luego inicia el agente.
    entrypoint: 
      /bin/sh -c "sleep 15 && pmm-admin add mysql 
      --host=mariadb_master1 
      --port=3306 
      --username=root 
      --password=123 
      --service-name=mariadb_master1_monit
      --tls --skip-ssl-verify; 
      /opt/percona/pmm-client/bin/pmm-agent"
    depends_on:
      - pmm-server

  # --- 3. PMM Client para mariadb_master2 (Contraseña: 456) ---
  pmm-client-master2:
    image: percona/pmm-client:3
    container_name: pmm-client-master2
    restart: always
    networks:
      - replication_net
    environment:
      PMM_AGENT_SERVER_ADDRESS: pmm-server
      PMM_AGENT_SERVER_USERNAME: root
      PMM_AGENT_SERVER_PASSWORD: example 
    
    # NUEVA ESTRUCTURA: Ejecuta pmm-admin después de 15 segundos y luego inicia el agente.
    entrypoint: 
      /bin/sh -c "sleep 15 && pmm-admin add mysql 
      --host=mariadb_master2 
      --port=3306 
      --username=root 
      --password=456 
      --service-name=mariadb_master2_monit
      --tls --skip-ssl-verify; 
      /opt/percona/pmm-client/bin/pmm-agent"

    depends_on:
      - pmm-server