version: '3.8'

services:

  # 1. Base de Datos Maestra 1 (db)
  db:
    image: mariadb:latest
    container_name: mariadb_master1
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: 123
    ports:
      # Acceso externo para Node.js
      - "3306:3306" 
    volumes:
      # Configuración de replicación (server-id=1, log_bin, auto-increment-offset=1)
      - ./custom_master.cnf:/etc/mysql/conf.d/custom.cnf
      # Carga la BD 'test' automáticamente al iniciar
      - ./init_db:/docker-entrypoint-initdb.d
    
  # 2. Base de Datos Maestra 2 (db2)
  db2:
    image: mariadb:latest
    container_name: mariadb_master2
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: 456
    ports:
      # Acceso externo para Node.js (Puerto diferente)
      - "3307:3306" 
    volumes:
      # Configuración de replicación (server-id=2, log-slave-updates, auto-increment-offset=2)
      - ./custom_slave.cnf:/etc/mysql/conf.d/custom.cnf
      # Carga la BD 'test' automáticamente al iniciar
      - ./init_db:/docker-entrypoint-initdb.d
    
  # 3. phpMyAdmin para el Maestro 1 (db)
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_HOST: db # Conexión a la base de datos interna 'db'
      PMA_ARBITRARY: 1 
    depends_on:
      - db

  # 4. phpMyAdmin para el Maestro 2 (db2)
  phpmyadmin2:
    image: phpmyadmin
    restart: always
    ports:
      - 8082:80
    environment:
      PMA_HOST: db2 # Conexión a la base de datos interna 'db2'
      PMA_ARBITRARY: 1   
    depends_on:
      - db2